.table-container {
    width: 90% !important;
    margin: auto !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.active-header {
    background-color: #e1f5fe !important;
    color: #2196F3 !important;
    border-bottom: none !important;
}