<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>personServiceImpl</servlet-name>
        <servlet-class>gwt.material.design.sample.server.PersonServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>personServiceImpl</servlet-name>
        <url-pattern>/gmdtablesample/personService</url-pattern>
    </servlet-mapping>
  
</web-app>
